/*  your css code here. If applicable */

.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}
img{
	width:100px;
     height:100px;
	object-fit:cover;
	
}
#b{
	
	color:black;
	background-color:white;

}
#c{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:10px;
}